  .header {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content:space-between
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin: 0 10px;

  }
  
  .header nav ul li a .linkHeader{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }

  .header-buttons{
    width: 350px;
  }

  .linkHeader{
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
    margin: 0 10px;
  }

  .linkHeader:hover{
    text-decoration: overline !important;
    color: rgb(245, 212, 212);
  }
  .logo-wrapper{
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(350deg, rgba(255, 255, 255, 1) 25%, rgba(221, 221, 221, 1) 100%);
    border-radius: 20px;
    padding: 2px;
  }
  .logo{
    height: 100%;
    width: auto;
    border-radius: 20px;
  }